version: "3.9"

services:
  app:
    build:
      context: .
      args:
        - DEV=true
    ports:
      - "8000:8000"
    volumes:
      - ./marketplace:/marketplace
    environment:
      - DB_HOST=db
      - DB_NAME=marketplace
      - DB_USER=postgres-dev
      - DB_PASS=1234lolkek
      - DB_PORT=5432
      - SECRET_KEY=key_for_development_server
      - DEBUG=1
      - ALLOWED_HOSTS=0.0.0.0
    depends_on:
      - db
    command: /bin/sh -c "python manage.py migrate &&
                         python manage.py runserver 0.0.0.0:8000"

  db:
    image: postgres:13-alpine
    environment:
      - POSTGRES_DB=marketplace
      - POSTGRES_USER=postgres-dev
      - POSTGRES_PASSWORD=1234lolkek